@{
    ViewData["Title"] = "Home Page";
}





<br>

<center><h1>E-shkollori</h1></center>


<br>
<br>

<div class="d-grid gap-2 col-6 mx-auto">
    <a href="~/Identity/Account/Login"><button class="btn btn-primary" type="button" style="width:100%;">Kycu si staf i shkolles</button></a>
    <a href="~/Identity/Account/Login"><button class="btn btn-primary" type="button" style="width:100%;">Kycu si prind</button></a>
    <a href="~/Identity/Account/Login"><button class="btn btn-primary" type="button" style="width:100%;">Kycu si Nxenes</button></a>
</div>

<br>
<br>
<br>

<div class="card-group">
    <div class="card">
        <img src="/css/Fooo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                Përfitimet nga roli i mësimdhënësve
            </h5>
            <p class="card-text">
                Vlerësimin e nxënësve.
                Mbajtjen e evidencave të vlerësimit dhe të mungesave të nxënësve në formë elektronike.
                Planifikimin e mësimit dhe hartimin e planeve mësimore.
                Përgatitjet e materialeve mësimore elektronike për nxënës.
                Raportim javor tek prindërit për progresin e nxënësve.
                Përdorimin e ditarit personal elektronik për secilën klasë.
                Gjenerimin e raporteve për suksesin e secilit nxënës por edhe të klasës.
                Shkruarjen e orëve mësimore në ditarin dixhital.
                Gjenerimin e të dhënave statistikore për klasën e tij/saj.
            </p>
            <p class="card-text"><small class="text-muted"></small></p>
        </div>
    </div>
    <div class="card">
        <img src="/css/ekipa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Përfitimet nga roli i prindërve</h5>
            <p class="card-text">
                Marrjen e informacioneve të detajuara për fëmijën e tij/saj në kohë reale.
                Përcjelljen e suksesit, progresit, detyrave, mungesave të fëmijës/ve etj.
                Shprehjen e përshtypjeve për korrektësinë e mësimdhënësit duke bërë një vlerësim numerik dhe përshkrues.
                Përcjelljen e njoftimeve përmes postimeve dhe anketimeve që i bënë shkolla.
                Marrjen e raporteve javore nga mësimdhënësit për seciën lëndë.
                Menaxhimin e takimeve me stafin e shkollës ose me mësimdhënësin kujdestar.
                Qasje në orarin mësimor të fëmijë/ve të tij/saj.
                Komunikim përmes chat-it me kujdestarin e klasës ose me stafin e shkollës.
                Përcjelljen e aktiviteteve të shkollës në kalendarin e aktiviteteve.
            </p>
            <p class="card-text"><small class="text-muted"></small></p>
        </div>
    </div>
    <div class="card">
        <img src="/css/profii.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Përfitimet nga roli i nxënësit</h5>
            <p class="card-text">
                Pranon njoftime nga mësimdhënësit.
                Merr pjesë në vlerësimet në formë të testeve online, asociacioneve, kuizeve etj.
                Sheh sukesin e tij/saj në kohë reale.
                Sheh mungesat e tij/saj.
                Qasje në materialet mësimore të sistemit dhe të ngarkuara nga mësimdhënësit.
                Qasje në video ligjeratat mësimore.
                Sheh postimet e bëra nga mësimdhënësit, administrate apo drejtoria.
                Qasje në kalendarin e aktiviteteve për të parë testet e radhës..
            </p>
            <p class="card-text"><small class="text-muted"></small></p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

<div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
        <img src="/css/teli.png" class="w-100 " alt="..." height="320px">
    </div>
    <div class="col-md-4 p-2 ps-md-0">
        <h5 class="mt-0">Lorem imposum</h5>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of
            nknown printer took a galley of type and scrambled it to make a type s a galley of type and .
        </p>

    </div>
</div>
<br>
<br>